img {
    width: 200px;
    border-radius: 100px;
  }
  body {
    background-color: #5e6841;
  }
  hr {
    border-style: none;
    width: 5%;
    border-top-style: dotted;
    border-width: 5px;
    border-color: palegoldenrod;
  }
  h1 {
    color: #313552;
  }
  h3 {
    color: #E9E5D6;
  }