body {
  margin: 0px;
  text-align: center;
  color: rgb(18, 11, 109);
}
h1 {
  color: #66bfbf;
  font-family: "Shizuru", cursive;
  font-size: 450.4%;
  line-height: 2;
}
h2 {
  font-family: "Patrick Hand", cursive;
  font-weight: normal;
  font-size: 40px;
}
h3 {
  font-family: "Patrick Hand", cursive;
  color: #11999e;
}
div.top_container {
  background-color: rgb(69, 44, 128);
  padding: 20px;
  text-align: auto;
  padding-bottom: 50px;
  position: relative;
}
div.middle_container {
  padding-top: 30px;
  padding-bottom: 100px;
}
div.bottom_container {
  padding-top: 30px;
  background-color: rgb(69, 44, 128);
  padding-bottom: 30px;
}
.container {
  position: relative;
  width: auto;
  margin-left: 50px;
  margin-right: 50px;
}
.about {
  font-size: 2.5rem;
  color: #66bfbf;
}
.top-cloud {
  height: 200px;
  position: absolute;
  right: 5%;
  top: 200px;
}
.bottom-cloud {
  height: 100px;
  position: absolute;
  left: 10%;
  top: 500px;
}
.sideplanet {
  height: 200px;
  position: absolute;
  left: 0%;
  top: 100px;
}
.dance {
  height: 80px;
  margin-right: 20px;
  float: left;
}

.chem {
  height: 80px;
  float: right;
  position: absolute;
  left: 300px;
}
.universe {
  padding: 40px;
  height: 400px;
  margin-left: auto;
}
.skill-row {
  width: 500px;
  position: relative;
  margin: 50px auto 50px auto;
  line-height: 2;
  text-align: left;
}

.profile {
  padding-bottom: 50px;
}

p {
  font-family: "Marmelad", sans-serif;
}
#me {
  height: 100px;
}
a:link {
  color: #11999e;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
.btn {
  background-color: rgb(
    177,
    206,
    177
  ); /*for compatibility with older browsers*/
  background-image: linear-gradient(rgb(97, 34, 179), rgb(8, 19, 8));
  border-radius: 4px;
}
.footer-link {
  padding: 10px;
}
.last {
  color: aqua;
}
hr {
  border-style: none;
  width: 5%;
  border-top-style: dotted;
  border-width: 5px;
  border-color: rgb(161, 162, 228);
}
@media print {
  tr.vendorListHeading {
    -webkit-print-color-adjust: exact;
  }
}
