body {
  margin: 0px;
  text-align: center;
  color: rgb(226, 226, 205);
}
h1 {
  color: rgb(212, 165, 221);
  font-family: 'Shizuru', cursive;
  margin: 0px;  

}
h2 {
  font-family: 'Patrick Hand', cursive;
}
h3 {
  font-family: 'Patrick Hand', cursive;
}
div.top_container {
  background-color: rgb(69, 44, 128);
  padding: 20px;
  text-align: auto;
  padding-bottom: 100px;
  position: relative;
}
div.middle_container {
  padding-top: 30px;
  background-color: rgb(69, 44, 128);
}
div.bottom_container {
  padding-top: 30px;
  background-color: rgb(69, 44, 128);
} 


.top-cloud {
  height: 100px;
  position: absolute;
  right: 150px;
  top: 50px;
}
.bottom-cloud {
  height: 100px;
  position: absolute;
  left: 100px;
  top: 700px;
}
.dance {
  height: 50px;
}

.chem {
  height: 50px;
}


p {
  font-family: 'Marmelad', sans-serif;
}
#me {
   height: 50px;
}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}